<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>User show</title>
</head>
<body>
    <div class="container">
        <h1>User {{user.id}}</h1>
        <h3>Full Name: {{user.first_name}}  {{user.last_name}}.</h3>
        <h3>Email: {{user.email}}</h3>
        <h3>Created At: {{user.created_at}}</h3>
        <p><a href="/users/{{user.id}}/edit">Edit</a> | <a href="/users/{{user.id}}/destroy">Delete</a></p>
    </div>
</body>
</html>
       

    